@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}
body {
  margin: 0;
  font-family: Rubik, 
}

:root {
  --navbar-bg: #f3f4f6;
  --gray-light: #9ca3af;
  --gray-vlight: #d1d5db;
  --gray-vvlight:#e5e7eb;

  --darken-primay-color: #1f2937;
  --primary-color: #374151;

  --white-color: #f8fafc;

  --seconday-color: #dc2626;
  --darken-seconday-color: #991b1b;

  --blue: #2563eb;
  --darken-blue: #1d4ed8
}
span {
  color: #f97316;
}
